.template-code{
    overflow: overlay;
    height: 31em;
}

.form-template{
    overflow: overlay;
    height: 28em;
}

#tutorial-install-template, #btn-copy{
    display: none;
}

#btn-copy{
    cursor: pointer;
}